.marq {
    padding: .5rem 0rem;
    text-align: center;
    font-size: 20px;
    background-color: rgba(255, 0, 0, 0.945);
    color: rgb(236, 230, 230);
    font-weight: 900;
}

.marquee-item {
    margin-right: 80px;
}